<section class="main-header">
  <p class="flash"><%= notice %><%= alert %></p>
  <img src="<%= asset_path "achieve.png" %>">
</section>
<body>
  <section class="application container">
    <div class="row_title">
      <h1>WKbook</h1>
    </div>
    <div class="row_main">
      <%= image_tag "WKbook_main.png" %>
    </div>
    <section class="row">
      <div class="row_application-image">
        <div class="col-md-3">
          <%= image_tag "WKbook_sub1.png" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "WKbook_sub2.png" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "WKbook_sub3.png" %>
        </div>
        <div class="col-md-3">
          <%= image_tag "WKbook_sub4.png" %>
        </div>
      </div>
    </section>
  </section>
</body>