<div class="container">
  <div class="main-header">
    <p class="flash"><%= notice %><%= alert %></p>
  </div>
  <div class="row_title">
    <div class="row_main">
      <h1>WKbook</h1>
      <%= image_tag "WKbook_main.png", class: "main-img-size-fix" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag "WKbook_sub2.png", class: "img-size-fix" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag "WKbook_sub3.png", class: "img-size-fix" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag "WKbook_sub4.png", class: "img-size-fix" %>
    </div>
    <div class="col-xs-6 col-md-3">
      <%= image_tag "WKbook_sub0.png", class: "img-size-fix" %>
    </div>
  </div>
</div>
</div>