<p id="notice"><%= notice %></p>
<div class="child row">
  <div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="book-text">
      <p class="left"><strong>タイトル</strong></p>
      <p class="left"><%= @book.title %></p>
      <p class="left"><strong>内容</strong></p>
      <p class="left"><%= @book.content %></p>
      <p class="right">
        <strong>作成時間:</strong>
        <%= @book.created_at.strftime("%y/%m/%d %p %l:%M") %>
      </p>
    </div>
    <p>コメント一覧</p>
    <div id="comments_area">
      <%= render partial: 'comments/index', locals: { comments: @comments, book: @book } %>
    </div>
    <%= render partial: 'comments/form', locals: { comment: @comment, book: @book } %>
    <% if current_user.id == @book.user_id %>
      <%= link_to '編集', edit_book_path(@book) %> |
    <% end %>
    <%= link_to '戻る', books_path %>
  </div>
</div>