<!DOCTYPE html>
<html lang='ja'>
  <head>
    <meta charset="UTF-8">
    <title>WKbook</title>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <header>
    <ul class="nav nav-tabs">
      <li role="presentation" class="active"><a href="#">ホーム</a></li>
      <li role="presentation"><a href="#">トピック</a></li>
      <li role="presentation"><a href="#">ユーザー一覧</a></li>
      <li role="presentation"><a href="#">メッセージ</a></li>
    </ul>
    <% if user_signed_in? %>
      <li><<%= link_to 'マイページ', edit_user_resistrationpath %></li>
          <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'ログイン', new_user_session_path  %></li>
          <li><%= link_to 'サインアップ', new_user_registration_path %></li>
        <% end %>
      </header>
      <body>
        <%= yield %>
      </body>
      <footer>
        <p>© 2017 Watanabe Kenichi create.</p>
      </footer>
    </html>